{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Edit Profile
{% endblock title %}

{% block content %}
<div class="dashboard">

{% if user.is_authenticated %}
<section class="page-section" >
  <div class="row">
  <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
      <div class="card card-signin my-5">
          <div class="card-body">

              <h5 class="card-title text-center" id="dashboard">Delete account for {{ user.username }}?</h5>
              {% if user.username %}
                  <a href="/delete-profile/{{ user.username }}/" class="btn btn-link"></a>
              {% endif %}
          </div>
          </div>
  </div>
</div>
{% endif %}
</div>
{% endblock %}
