{% extends "base.html" %}
{% load bootstrap4 %}

{% block nav %}<nav class="navbar navbar-expand-lg navbar-shrink navbar-light fixed-top navbar-scrolled" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{% url "home" %}"><img src="../../static/img/quietsharenav.png" width="150px" /></a>
{% endblock nav %}

{% block upload-nav %}
<li class="nav-item">
 <a class="nav-link js-scroll-trigger " href="{% url "home" %}">Upload</a>
</li>
{% endblock upload-nav %}

{% block content %}

{% include "accounts/form_snippet.html" with form_title="Log In" %}
 <script src="../../static/vendor/jquery/jquery.min.js"></script>
{% endblock content %}
