{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-scrolled py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{% url "home" %}"><img src="../../static/img/quietsharenav.png" width="150px" /></a>
{% endblock nav %}

{% block upload-nav %}
<li class="nav-item">
 <a class="nav-link js-scroll-trigger" href="{% url "home" %}">Upload</a>
</li>
{% endblock upload-nav %}


{% block content %}

{% include "accounts/form_snippet.html" with form_title="Sign Up" %}

{% endblock content %}
