{% extends "base.html" %}


{% block nav %}<nav class="navbar navbar-expand-lg navbar-shrink navbar-dark fixed-top navbar-scrolled" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{% url "home" %}"><img src="../../static/img/quietsharenav.png" width="150px" /></a>
{% endblock nav %}


{% block content %}

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container pt-2">



      <li class=" alert alert-success">
          <div class="alert alert-success">
              <strong>Upload success.</strong>
              Here is the link to your file:</div>
              <span class="lead"><a target="_blank" href="https://file.io/8CdZ4D">https://file.io/8CdZ4D</a>
                <button class="js-textareacopybtn" style="vertical-align:top;">Copy Link</button>
                <button class="js-addanotherbtn" style="vertical-align:top;">Upload Another</button><br><br></span></li>


  </section>

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Upload a File</h5>
                <form action="." method="POST">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success btn-lg">Send File!</button>
                    </div>
                </form>
            </div>
            <div>
              <p>Notes:</p>
              <ul>
                  <li>The text field is optional and will be seen by the user receiving the link</li>
                  <li>All links expire in 7 days</li>
                  <li>Username must be a valid username</li>
              </ul>
            </div>
        </div>
    </div>
  </div>


{% endblock content %}
