{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{% url "home" %}"><img src="../../static/img/quietsharenav.png" width="150px" /></a>
{% endblock nav %}

{% block content %}





  <!-- User links -->
  <div class="dashboard">


  <section class="page-section" >
    <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">

                <h5 class="card-title text-center" id="dashboard">{{ user.username }}'s links</h5>

                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Expiration Dat</th>
                      <th scope="col">Message</th>
                      <th scope="col">Link</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for link in links %}
                    <tr>
                        {% if user.username %}
                            {% if link.link == '' %}
                                <td>{{ link.expiry_date|date:"M d, Y" }}</td>
                                <td>{{ link.text }}</td>
                                <td></td>


                            {% else %}
                                <td>{{ link.expiry_date|date:"M d, Y" }}</td>
                                <td>{{ link.text }}</td>
                                <td><a href='{{ link.link }}' target="_blank">Download</td>


                            {% endif %}

                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
                </table>

                <h5 class="card-title text-center" id="dashboard">Delete account for {{ user.username }}?</h5>
                {% if user.username %}
                    <a href="/delete-profile/{{ user.username }}/" class="btn btn-link">Delete Profile</a>
                {% endif %}

            </div>
            </div>
    </div>
  </div>
  </div>

  {% endblock content %}
